* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #213547;
  --color-foreground-dim: #21354767;
  --color-primary: #4a91ee;
  --color-page-bg: #eff4f9;
  --color-border: #d1d9e6;
  --color-white: white;
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #d97706;

  color-scheme: light;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  color-scheme: dark;
  --color-background: #242424;
  --color-foreground: rgba(255, 255, 255, 0.87);
  --color-foreground-dim: #ffffff67;
  --color-primary: #4a91ee;
  --color-border: #3a3a3a;
  --color-page-bg: #383c43;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: pointer;
}
